@model MahekaruProfileCore.Models.ProfileModel

@{
    ViewData["Title"] = "Index";
    //Layout = "";

    var skz = 0;

}

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stat Sheet</title>

    <link rel="stylesheet" href="~/css/profile.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <wrapper>
        <profileinfo>
            <charinfo>
                <level>
                    <p>@Model.Title</p>
                </level>
                <charprogress>
                    <char-slot>
                        <p>Name:</p>
                        <p>Exp:</p>
                    </char-slot>
                    <char-slot>
                        <p>@Model.Name</p>
                        <p>@Model.ExpTotal</p>
                        <experiance thin>
                            <experiance-bar blue full></experiance-bar>
                        </experiance>
                    </char-slot>
                </charprogress>
            </charinfo>
            <charstats>
                <charskills>

                    <ul>
                        @foreach (Skills i in Model.Skills.OrderByDescending(x => x.SkillPoints))
                        {
                            skz = (int)i.SkillPoints * 10;

                            <li>
                                <p>@i.Name</p>
                                <experiance>
                                    <experiance-bar green style="width:@skz%">@i.ExperianceLevel + @i.SkillPoints</experiance-bar>
                                </experiance>
                            </li>
                        }
                    </ul>
                </charskills>
                <charimg>
                    <box1>
                        <img-frame>
                            <img src="~/img/profile/ProfileImage.png" />
                        </img-frame>
                    </box1>
                    <box2>
                        <a githubbutton href="@Model.GitHub" target="_blank">GitHub</a>

                        <charhealth>
                            <charhealthbox>
                                <hptext>HP:</hptext>
                                <hpbox>
                                    <hp>@Model.HP</hp>
                                    <experiance thin>
                                        <experiance-bar green full></experiance-bar>
                                    </experiance>
                                </hpbox>
                            </charhealthbox>
                            <charmpbox>
                                <mptext>MP:</mptext>
                                <mpbox>
                                    <mp>@Model.MP</mp>
                                    <experiance thin>
                                        <experiance-bar blue full></experiance-bar>
                                    </experiance>
                                </mpbox>
                            </charmpbox>
                        </charhealth>
                    </box2>
                </charimg>
            </charstats>
        </profileinfo>
        <contactCard>
            
            <cc>
                <h1>Business Card</h1>
                <dbox></dbox>
                <ibox>
                    <nbox>
                        <nbname>@Model.Name</nbname>
                        <nbtitle>Web Developer</nbtitle>
                    </nbox>
                    <cbox>
                        <ul>
                            <li>
                                <cicon phone class="fa fa-phone" style="font-size:1.5rem"></cicon>
                                <ctext>(317) 626-8984</ctext>
                            </li>
                            <li>
                                <cicon class="fa fa-envelope-square" style="font-size:1.5rem"></cicon>
                                <ctext><a href="mailto:MichaelEJennings@yahoo.com">Email Me</a></ctext>
                            </li>
                            <li>
                                <cicon class="fa fa-linkedin-square" style="font-size:1.5rem"></cicon>
                                <ctext><a href="@Model.LinkedIn" target="_blank">LinkedIn</a></ctext>
                            </li>
                            <li>
                                <cicon class="fa fa-github-square" style="font-size:1.5rem"></cicon>
                                <ctext><a href="@Model.GitHub" target="_blank">GitHub</a></ctext>
                            </li>
                        </ul>
                    </cbox>
                </ibox>
            </cc>

            <cardimgbox>
                <h1>Programming</h1>
                <img src="~/img/profile/Dev.gif" />
            </cardimgbox>
            <cardimgbox>
                <h1>Gaming</h1>
                <img src="~/img/profile/Gaming.gif" />
            </cardimgbox>


        </contactCard>
    </wrapper>
    @*//<script src="~/js/profile.js"></script>*@
</body>
</html>
