@model MahekaruProfileCore.Models.AppModel

@{
    ViewData["Title"] = "Index";
}
    <head>
        <link rel="stylesheet" href="~/css/app.css">
    </head>
<wrapper>
    <logo></logo>
    <apps>
        @foreach (App i in Model.Apps)
        {
            <app>
                <app-title>@i.Name</app-title>
                <app-img>
                    <img src="@i.ImageName" />
                </app-img>
                <app-description>
                    @i.Description
                </app-description>
                <app-buttons>
                    @if (i.GithubLink != "") {<a href="@i.GithubLink">Github</a>}
                    @if (i.AppLink != "") {<a href="@i.AppLink">Open App</a>}
                    
                </app-buttons>
            </app>
        }
    </apps>
</wrapper>
